html {
  height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  font-family: sans-serif;
  background: rgb(9,17,121);
  background: linear-gradient(315deg, rgba(9,17,121,1) 0%, rgba(142, 84, 171,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 75%;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1200px;
  flex: 1 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .flex-container {
    flex-wrap: nowrap;
  }
}

.flex-col--1 {
  flex: 1 1 33%;
}

.flex-col--2 {
  flex: 2 1 66%;
}

header {
  width: 75%;
  margin: 0 auto;
  padding: 3rem 0 2rem;
}

h1 {
  margin: 0;
  padding: 0.6rem 0;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

h1,
h2 {
  color: #fff;
  white-space: nowrap;
}

footer {
  background-color: #FFF;
  padding: 1rem;
  flex-shrink: 0;
}

footer p {
  width: 75%;
  margin: 0 auto;
  font-size: 0.8rem;
  text-align: right;
}


/* Form Elements */

fieldset {
  padding: 16px 12px 0px;
  margin: 1.6em 0;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.25);
}

legend {
  padding: 0px 4px;
  font-size: 1rem;
  background-color: #FFF;
}

.form-field {
  display: flex;
  min-width: 290px;
  margin-bottom: 1.6em;
}

.form-field__label {
  width: 35%;
  font-size: 1rem;
}

.form-field__input {
  width: 65%;
  height: 24px;
  font-size: 1rem;
  border: none;
}

.form-field__input--file {
  width: 100%;
  padding: 4px;
  color: #FFF;
  border: 1px dashed #FFF;
  cursor: pointer;
}

.form-field__radio-group {
  width: 65%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.form-field__submit {
  width: 100%;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.form-field__submit--solid {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  mix-blend-mode: screen;
}

.form-field__submit--outline {
  background: none;
  border: 1px solid #FFF;
  color: #FFF;
}

.form-field__submit:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


/* Image grid */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 8px;
}

.image-grid label {
  cursor: pointer;
  height: 100px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid img:hover,
.image-grid input:checked + img {
  box-shadow: 0px 0px 0px 2px #8e54ab, 0px 0px 0px 4px white;
}

.image-grid input {
  position: absolute;
  z-index: -1;
}

/* Image Upload */

.image-upload {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #FFF;
}

.image-upload form {
  align-items: center;
}